body{
    background-color: aquamarine;
}
h3{
    color: blue;
}
.means{
    color: rgb(130, 27, 27);
}
#first{
    color:rgb(3, 61, 7)
}
#tags{
    color:green
}
.tag{
    color: #8e992b;
}
.Doc{
    color: darkslateblue;
}


    